.bg-orange {
    background-color: #fb8500;
}

footer {
    position: sticky;
    bottom: 0;
}

.content {
    min-height: 80%;
}

.lg-icon {
    font-size: 5em;
    color: pink;
}

h1 {
    text-align: center;
}

h2 a {
    color: #f7f7f7;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main-box {
    width: 25vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    display: none;
}

.search-box {
    height: 55px;
    border-bottom: none;
}

.btn-custom {
    width: 190px;
}

input  {
    height: 44px;
}

.width-25 {
    width: 25vw;
}

@media only screen and (min-width: 568px) {
    .main-box {
        height: 20vh;
    }
}