a:hover {
    color: #cecece;
    text-decoration: none;
}

.bg-orange {
    background-color: #fb8500;
}

footer {
    position: sticky;
    bottom: 0;
}

.content {
    min-height: 80%;
}

.lg-icon {
    font-size: 5em;
    color: pink;
}

h1 {
    text-align: center;
}

h2 a {
    color: #f7f7f7;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main-box {
    width: 25vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    display: none;
}

.search-box {
    height: 55px;
    border-bottom: none;
}

.btn-custom {
    width: 190px;
}

input  {
    height: 44px;
}

table {
    min-width: 325px;
}
.text-orange {
    color: #fb8500;
}

.review {
    width: 80vw;
}

.font-blue {
    color: #17A2B8;
    font-weight: bold;
}

.rs-size {
    width: 100px;
}

/* Add author */

#authorList, #first_name, #middle_name, #last_name {
    display: none;
}

@media only screen and (min-width: 568px) {
    .main-box {
        height: 20vh;
    }
    .single-review {
        max-width: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .rs-size {
        width: 200px;
    }
    .single-review {
        max-width: 250px;
    }

}