#box-1 {
    border-bottom: 5px solid #0275d8;
}

#box-2 {
    border-bottom: 5px solid #5cb85c;
}

#box-3 {
    border-bottom: 5px solid #5bc0de;
}

.box {
    background-color: #cfcfcf;
    height: 250px;
}