  
  /* Flip boxes */

  .flip3D { 
    width:200px; 
    height:200px; 
    margin:10px; 
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 3em;
    font-weight: bold;
 }
.front {
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
    background: maroon; 
    width:200px; 
    height:200px; 
	backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.back{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
    background: #3c76a6; 
    width:200px; 
    height:200px; 
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flipOver, .flipBack {
    width:200px; 
    height:200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 3em;
    font-weight: bold;
}
.flipOver > .front {
    transform: perspective( 600px ) rotateY( -180deg );
}
.flipOver > .back {
    transform: perspective( 600px ) rotateY( 0deg );
}
.flipBack > .front {
    transform: perspective( 600px ) rotateY( 0deg );
}
.flipBack > .back {
    transform: perspective( 600px ) rotateY( 180deg );
}