footer {
    position: sticky;
    bottom: 0;
}

.content {
    min-height: 90%;
}

#box-1 {
    border-bottom: 5px solid #0275d8;
}

#box-2 {
    border-bottom: 5px solid #5cb85c;
}

#box-3 {
    border-bottom: 5px solid #5bc0de;
}

.box {
    height: 400px;
}

.assign {
    list-style-type: none;
}

.main-image {
    background-image: url('../images/web-code.jpg');
    background-position: center center;
    background-size: cover;
}

a {
    text-decoration: none;
}

/* Assignment Weeks */

